BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 2
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Linux
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
BreakAfterReturnType: AllDefinitions
SpaceBeforeParens: ControlStatements
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: All
BreakBeforeBinaryOperators: All
IndentCaseLabels: false
